.fileView{
    width: 100%;
}
.fileView__row{
    height: 250px;
    display: flex;
    align-items: center;

}
.fileView__titles{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85, 78, 78);
}
.fileView__titles>div>*{
    margin: 5px;
}
.fileView__title__left{
    flex: 1;
}
.fileView__title__right{
    display: flex;
}









