.fileItem{
    height: 55px;
    border-bottom: 1px solid rgb(219,219,219);
    border-top: 1px solid rgb(219,219,219);
    width: 100%;
}
.fileItem > a{
    height: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(85,87,87);
}
.fileItem > a > div{
    display: flex;
    align-items: center;

}

.fileItem > a > div > *{
    margin: 10px;
}
.fileItem__left{
    flex: 1;
}