.fileCard{
    height: 190px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid rgb(219,219,219);
    margin: 5px;
}
.fileCard__top{
height: 70%;
border-bottom: 1px solid rgb(218,218,218);
display: flex;
justify-content: center;
align-items: center;
}
.fileCard__bottom{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 30%;
}
.fileCard__bottom>p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
}


