.sidebaritems{
    display: flex;
    padding: 10px 0;
    border-radius: 0 100px  100px 0;
}
.sidebaritems:hover{
    background-color: rgba(0, 0, 0,0.1);

}
.sidebarItem_arrow{
    width: 28px;
    margin-left: 12px;
}
.sidebarItem_main{
    display: flex;
}
.sidebarItem_main>p{
    margin-left: 12px;
    cursor: pointer;
}
